            <!-- PAYMENT OPTIONS CONTAINER -->
            <div class="box-element hidden" id="payment-info">
                <small>Payment Options</small>

                <!-- No Payment -->
                <button id="make-payment">Make Payment</button> 

                <!-- Pay with PayPal -->
                <!-- <div id="paypal-button-container"></div> -->

                <!-- Pay with MTN Mobile Money-->

                <!-- Pay with Orange Money -->

                <!-- Pay with Stripe -->

                <!-- Pay with Skrill -->
                
            </div>