{% extends 'blog/main.html' %}
{% load static %}
{% block content %}

    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Collections</h1>
                <ul class="list-unstyled templatemo-accordion">
                    {% for collection in collections %}
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            {{collection}}
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="#">Men</a></li>
                            <li><a class="text-decoration-none" href="#">Women</a></li>
                        </ul>
                    </li> 
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-8">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="{% url 'product_list' %}">All</a>
                            </li>
                            {% for collection in collections %}
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="{% url 'collection' collection.id %}">{{collection}}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-4 pb-4">
                        <div class="d-flex">
                            <select class="form-control">
                                <option>Featured</option>
                                <option>A to Z</option>
                                <option>Item</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                  {% for product in products %}
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid thumbnail" {% if product.image %} src="{{product.image.url}}" {% else %} src="{% static 'blog/images/default/default_product.png' %}" {% endif %} alt="">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <form method="POST" action="{% url 'like_product' product.pk %}">
                                            {% csrf_token %}
                                            {% if user.is_authenticated %}
                                                {% if liked %}
                                                    <li><a class="btn btn-danger text-white" href="{% url 'product_detail' product.id %}"><i class="far fa-heart"></i></a></li>    
                                                {% else %}
                                                    <li><a class="btn btn-success text-white" href="{% url 'product_detail' product.id %}"><i class="far fa-heart-fill"></i></a></li>
                                                {% endif %}
                                            {% endif %}
                                            {{total_likes}} 
                                        </form>
                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'product_detail' product.id %}"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="shop-single.html"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'product_detail' product.id %}" class="h3 text-decoration-none box-element product">{{product.name}}</a>
                                <div class="text-muted"><small>{{product.snippet}}</small></div>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>M/L/X/XL</li>
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul>
                                <ul class="list-unstyled d-flex justify-content-center mb-1">
                                    <li>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-warning fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                        <i class="text-muted fa fa-star"></i>
                                    </li>
                                </ul>
                                <p class="text-center mb-0">${{product.price|floatformat:2}}</p>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                </div>
                <div div="row">
                    <ul class="pagination pagination-lg justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- End Content -->
    {% include 'blog/scripts.html' %}

    <!-- Start Script -->
    <script src="{% static 'blog/js/shoppers/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'blog/js/shoppers/jquery-ui.js' %}"></script>
    <script src="{% static 'blog/js/shoppers/popper.min.js' %}"></script>
    <script src="{% static 'blog/js/shoppers/bootstrap.min.js' %}"></script>
    <script src="{% static 'blog/js/shoppers/owl.carousel.min.js' %}"></script>
    <script src="{% static 'blog/js/shoppers/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'blog/js/shoppers/aos.js' %}"></script>

    <script src="{% static 'blog/js/shoppers/main.js' %}"></script>
{% endblock %}
