{% extends 'blog/main.html' %}
{% block title %}
    Create New Profile Page
{% endblock %}
{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <br>
            <h1>Create Profile Page</h1>
            <br><br>
            <div class="form-group">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form.as_p}}
                    <br>
                    <button class="btn btn-secondary">Create Profile Page</button>
                </form>
                <br>
            </div>
    
        {% else %}
        <br>    
        <div class="row">
                <div class="col-sm-4"></div>  
                <div class="col-sm-4">
                    <div class="card text-center">
                        <div class="card-header"></div>
                        <div class="card card-body">
                            To access this page you must be authenticated!...
                        </div>
                        <div class="card-footer"></div>
                    </div>  
                </div>
                <div class="col-sm-4"></div>
            </div>
        {% endif %}
        <br>
    </div>
{% endblock %}
