{% extends 'blog/main.html' %}
{% block title %}
    Password Updated
{% endblock %}
{% block content %}
    <div class="container"><br><br><br>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="card text-center col-sm-4">
                <div class="card-header"></div>
                <div class="card-body">
                    <h1>Your Password was changed successfully...</h1>
                </div>
                <div class="card-footer"></div> 
            </div>
            <div class="col-sm-4"></div>
        </div>
        <br><br><br>
    </div>

{% endblock %}
