{% extends 'blog/main.html' %}
{% block title %}
    Password Reset Form
{% endblock %}
{% block content %}
  <div class="container">
    <br>
    <h1>Enter New Password</h1> 
    <div class="form-group">
        <small>Please enter your new password twice <br>so we can verify you typed it in correctly.</small>
        <form method="POST" action=""> <br>
            {% csrf_token %}
            {{form.as_p}}
            <br><br>
            <!--<button class="btn btn-secondary">Change Password</button>-->
            <input class="btn btn-secondary" type="submit" name="Update Password">
        </form>
    </div> <br><br>
  </div>
{% endblock %}
