{% extends 'blog/main.html' %}
{% block title %}
    Reset Password
{% endblock %}
{% block content %}
  <div class="container">
    <br>
    <h1>Reset Password</h1> 
    <div class="form-group">
        <small>Forgotten your password? <br>Enter your email address below, <br> and we'll email instructions for setting a new one.</small>
        <form method="POST" action=""> <br>
            {% csrf_token %}
            {{form.as_p}}
            <br><br>
            <!--<button class="btn btn-secondary">Change Password</button>-->
            <input class="btn btn-secondary" type="submit" name="Send Email">
        </form>
    </div> <br><br>
  </div>
{% endblock %}
