{% extends 'blog/main.html' %}
{% block title %}
    Create A New Blog Post
{% endblock %}
{% block content %}
    <div class="container">
      <br>
      {% if user.is_authenticated %}
        <h1>Add Post</h1>
        <br>
        <div class="form-group">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}
                {{form.as_p}}
                <br>
                <button class="btn btn-secondary">Post</button>
            </form>
        </div>
        <script>
            var name = "{{user.first_name}} {{user.last_name}}";
            var id = "{{user.id}}";
            document.getElementById("root").placeholder = name;
            document.getElementById("root").value = id;
        </script>
      {% else %}
          You can create a post only if you have an account and are logged in!...
      {% endif %}
      <br><br>
    </div>
{% endblock %}
