{% extends 'blog/main.html' %}
{% block title %}
    Create A New Blog Post
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <h1>Add Post...</h1>
        <br><br>
        <div class="form-group">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}
                {{form.as_p}}
                <button class="btn btn-secondary">Post</button>
            </form>
        </div>
        <script>
            var name = "{{user.first_name}} {{user.last_name}}";
            var id = "{{user.id}}";
            document.getElementById("root").placeholder = name;
            document.getElementById("root").value = id;
        </script>
        {% else %}
            You're not allowed here. And you know it!...
        {% endif %}
{% endblock %}
