<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>{{business.subname}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'blog/images/zay/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" {% if business.logo %} href="{{business.logoURL}}" {% else %} href="{% static 'blog/images/zay/favicon.png' %}" {% endif %}>

    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/zay/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/zay/powerauto.css' %}"> <!-- from Zay -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/zay/custom.css' %}"> <!-- from Zay -->
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}"> -->

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="{% static 'blog/css/zay/fontawesome.min.css' %}"> <!-- from Zay -->

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/zay/slick.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/zay/slick-theme.css' %}">

    <!-- Store -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/store/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/store.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap/bootstrap-grid.css' %}">

    <!-- Boostrap CDN -->
    <!-- CSS only -->
    <!--Worthy to not here that I took off Bootstrap CDN because it disabled all dropdowns accross the website -->
    {% block extrastyle %}
    {% endblock %}
    <script type="text/javascript">
        var user = '{{request.user}}'
        function getToken(name){
          var cookieValue = null;
          if(document.cookie && document.cookie !== ''){
            var cookies = document.cookie.split(';');
            for(var i = 0; i < cookies.length; i++){
              var cookie = cookies[i].trim();
              //Does this cookie string begin with thename we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')){
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          console.log("We reached the end of getToken")
          return cookieValue;
        }
        var csrftoken = getToken('csrftoken');
  
  
        function getCookie(name){
          //Split cookie string and get all individual name=value pairs in an array
          var cookieArr = document.cookie.split(";");
  
          //Loop through the array elements
          for(var i = 0; i < cookieArr.length; i++){
            var cookiePair = cookieArr[i].split("=");
  
            /* Removing whitespace at the beginning of the cookie name
            and comparing it with the given string */
            if(name == cookiePair[0].trim()){
              //Decode the cookie value and return
              console.log("Screaming out from within cookiePair of getCookie")
              return decodeURIComponent(cookiePair[i]);
            }
          }
  
          //Return null if not found
          return null;
        }
  
        var cart = JSON.parse(getCookie('cart'))
        if(cart == undefined){
          cart = {}
          console.log('Cart was created!')
          document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
        console.log('Cart:', cart)
    </script>
</head>

<body>
    {% include 'blog/nav0.html' %}
    {% include 'blog/nav1.html' %}
    {% include 'blog/navsearch.html' %}

    {% block content %}

    {% endblock %}
    <script type="text/javascript" src="{% static 'blog/js/bootstrap/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/bootstrap/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'blog/js/store/cart.js' %}"></script>
    {% include 'blog/footer.html' %}
    


</body>

</html>
