{% extends 'blog/main.html' %}
{% load static %}
{% block extrastyle %}
    <!-- Shoppers Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/shoppers/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/shoppers/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/shoppers/jquery-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/shoppers/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/shoppers/owl.theme.default.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/shoppers/aos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/shoppers/style.css' %}">
{% endblock %}