{% extends 'blog/main.html' %}
{% load static %}
{% block content %}

{% include 'blog/navslider.html' %}

<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Featured Collections</h1>
            <p>
                Browse through our featured collections.
            </p>
        </div>
    </div>
    <div class="row">
        {% for collection in featured_collections %}
            <div class="col-12 col-md-4 p-5 mt-3"> 
                <a href="{% url 'collection' collection.id %}"><img {% if collection.image %} src="{{collection.image.url}}" {% else %} src="{% static 'blog/images/default/default_category.png' %}" {% endif %} class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">{{collection.name}}</h2>
                <p class="text-center"><a href="{% url 'collection' collection.id %}" class="btn btn-success">Go Shop</a></p>
            </div>
        {% endfor %}
    </div>
</section>
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Featured Products</h1>
                <p>
                    Take a look at our featured products.
                </p>
            </div>
        </div>
        <div class="row">
            {% for product in featured_products %}
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'product_detail' product.id %}">
                            <img {% if product.image %} src="{{product.image.url}}" {% else %} src="{% static 'blog/images/default/default_product.png' %}" {% endif %} class="card-img-top" alt="View Product">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">${{product.price}}</li>
                            </ul>
                            <a href="{% url 'product_detail' product.id %}" class="h2 text-decoration-none text-dark">{{product.name}}</a>
                            <p class="card-text">
                                {{product.snippet}}
                            </p>
                            <a href="{% url 'collection' product.collection.id %}"><span class="text-muted">{{product.collection}} |</span></a>
                            <img class="text-dark mr-5 add-btn update-cart" style="width:25px" src="{% static 'blog/icons/cart-arrow-down-solid.svg' %}" data-product={{product.id}} data-action="add" data-toggle="tooltip" data-placement="right" title="${{product.price}}" alt="Add To Cart">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Featured Product -->

{% endblock %}
